
/*mobile*/

h2 {
	font-size:24px;
	text-transform:uppercase;
}
h3 {
	font-size:18px;
	text-transform:uppercase;
}
strong {
	color:#ddd;
}


.navbar-brand {
	font-family:audiowide;
	font-weight:bold;
}

.navbar {
	border-bottom:solid 2px white;
}

body {
  padding-top: 50px;
}

.sidebar {
  display: none;
}

.main {
  padding: 20px;
}

.page-title {
	margin-top:3%;
	margin-bottom:1%;
	font-size:36px;
	font-size:8vmin;
	text-transform:uppercase;
}

.content-item {
	float:left;
	vertical-align:top;
	margin-right:50px;
	margin-bottom:20px;
	max-width:270px;
}

.content-item.content-main {
	max-width:650px;
}


/* full */
	
@media (min-width: 768px) {

	/*hide navbar*/
	.navbar {
		display:none;
	}
	
	/*sidebar*/
	
	body {
		padding-top:0;
	}

	.sidebar {
		position: fixed;
		top:0;
		bottom: 0;
		left: 0;
		width:240px;
		z-index: 1000;
		display: block;
		overflow-x:hidden;
		overflow-y:auto;
		padding:0;
	}	
	
	.nav-sidebar {
		position:absolute;
		top:50%;
		margin-top:-210px;
		width:100%;
	}
	
	.nav-sidebar > li > a {
		color:white;
		padding-left:50px;
		font-size:16px;
		transition: text-shadow 0.3s;
		outline:0;
		line-height:1.2;
	}

	.nav-sidebar > .active > a {
		opacity:1;
	}
	
	.nav-sidebar > .active > a:after {
		content:' >>';
	}

	#sidebar-glow {
		position:absolute;
		top:0;
		left:-72px;
		width:50px;
		height:100%;
		background-color:white;	
	}
	
	/*main-content*/
	
	.main {
		padding-left: 40px;
		margin-left: 240px;
	}
	
}


/*both mobile and full*/

.main .page-header {
  margin-top: 10px;
}

.sub-header {
  font-family:audiowide;
  padding-bottom: 10px;
  border-bottom: 1px solid #222;
  font-size:24px;
}

