/*RESOURCES*/

@font-face { /*PREFIX*/
    font-family: 'audiowide';
    src: url('../fonts/audiowide-regular-webfont.eot');
    src: url('../fonts/audiowide-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/audiowide-regular-webfont.woff') format('woff'),
         url('../fonts/audiowide-regular-webfont.ttf') format('truetype'),
         url('../fonts/audiowide-regular-webfont.svg#audiowideregular') format('svg');
    font-weight: normal;
    font-style: normal;
} 


@media screen {

	/*NEON TEXT SHADOWS*/
	

	.neon-white {
		font-family:audiowide,sans-serif;
		text-shadow: 0 0 4px #fff,
					 0 0 8px #fff,
					 0 0 20px #fff;
	}
	
	
	.neon-red {
		font-family:audiowide,sans-serif;
		color:#EEEEFF;
		text-shadow: 0 0 1px #fff,
				   0 0 3px #fff,
				   0 0 5px #fff,
				   0 0 8px #FF1177,
				   0 0 12px #FF1177,
				   0 0 15px #FF1177,
				   0 0 25px #FF1177,
				   0 0 30px #FF1177; /* red neon, TODO: crossbrowser */ /*PREFIX*/
	}
	.neon-blue {
		font-family:audiowide,sans-serif;
		color:#EEEEFF;
		 text-shadow: 0 0 1px #fff,
			   0 0 3px #fff,
			   0 0 5px #fff,
			   0 0 8px #228DFF,
			   0 0 12px #228DFF,
			   0 0 15px #228DFF,
			   0 0 25px #228DFF,
			   0 0 30px #228DFF;
	}
	.neon-yellow {
		font-family:audiowide,sans-serif;
		color:#EEEEFF;
		text-shadow: 0 0 1px #fff,
			   0 0 3px #fff,
			   0 0 5px #fff,
			   0 0 8px #FFDD1B,
			   0 0 12px #FFDD1B,
			   0 0 15px #FFDD1B,
			   0 0 25px #FFDD1B,
			   0 0 30px #FFDD1B;
	}
	.neon-green {
		font-family:audiowide,sans-serif;
		color:#EEEEFF;
		text-shadow: 0 0 1px #fff,
			   0 0 2px #fff,
			   0 0 4px #fff,
			   0 0 6px #B6FF00,
			   0 0 8px #B6FF00,
			   0 0 10px #B6FF00,
			   0 0 16px #B6FF00,
			   0 0 20px #B6FF00;
	}
	.neon-orange {
		font-family:audiowide,sans-serif;
		color:#EEEEFF;
		text-shadow: 0 0 1px #fff,
			   0 0 3px #fff,
			   0 0 5px #fff,
			   0 0 8px #FF9900,
			   0 0 12px #FF9900,
			   0 0 15px #FF9900,
			   0 0 25px #FF9900,
			   0 0 30px #FF9900;
	}
	.neon-violet {
		font-family:audiowide,sans-serif;
		color:#EEEEFF;
		text-shadow: 0 0 1px #fff,
			   0 0 3px #fff,
			   0 0 5px #fff,
			   0 0 8px #ff00de,
			   0 0 12px #ff00de,
			   0 0 15px #ff00de,
			   0 0 25px #ff00de,
			   0 0 30px #ff00de;
	}

	
	
	.glow-neon-white {
		box-shadow: 0 0 1px #fff,
				   0 0 10px #fff,
				   0 0 15px #fff,
				   0 0 25px #fff,
				   0 0 40px #fff,
				   0 0 50px #fff,
				   0 0 80px #fff,
				   0 0 300px #fff;
	}
	
	.glow-neon-red {
		box-shadow: 0 0 1px #fff,
				   0 0 10px #fff,
				   0 0 15px #fff,
				   0 0 25px #FF1177,
				   0 0 40px #FF1177,
				   0 0 50px #FF1177,
				   0 0 80px #FF1177,
				   0 0 300px #FF1177;
	}
	
	.glow-neon-blue {
		box-shadow: 0 0 1px #fff,
				   0 0 10px #fff,
				   0 0 15px #fff,
				   0 0 25px #228DFF,
				   0 0 40px #228DFF,
				   0 0 50px #228DFF,
				   0 0 80px #228DFF,
				   0 0 300px #228DFF;
	}
	
	.glow-neon-yellow {
		box-shadow: 0 0 1px #fff,
				   0 0 10px #fff,
				   0 0 15px #fff,
				   0 0 25px #FFDD18,
				   0 0 40px #FFDD18,
				   0 0 50px #FFDD18,
				   0 0 80px #FFDD18,
				   0 0 300px #FFDD18;
	}
	
	.glow-neon-green {
		box-shadow: 0 0 1px #fff,
				   0 0 10px #fff,
				   0 0 15px #fff,
				   0 0 25px #B6ff00,
				   0 0 40px #B6ff00,
				   0 0 50px #B6ff00,
				   0 0 80px #B6ff00,
				   0 0 300px #B6ff00;
	}
	.glow-neon-orange {
		box-shadow: 0 0 1px #fff,
				   0 0 10px #fff,
				   0 0 15px #fff,
				   0 0 25px #ff9900,
				   0 0 40px #ff9900,
				   0 0 50px #ff9900,
				   0 0 80px #ff9900,
				   0 0 300px #ff9900;
	}
	.glow-neon-violet {
		box-shadow: 0 0 1px #fff,
				   0 0 10px #fff,
				   0 0 15px #fff,
				   0 0 25px #ff00de,
				   0 0 40px #ff00de,
				   0 0 50px #ff00de,
				   0 0 80px #ff00de,
				   0 0 300px #ff00de;
	}
	
}